<div class="headerDiv">
  <h1>Recycle It!</h1>
</div>





<div id="grid">

<div id="col-1">
    <h3 id="label" style="text-align: center;">Input Item to be recycled</h3>
    <hr>
    <form id="inputItem" class="button-size">
  <textarea type="text" name="item" id="textarea"></textarea>
  <br>
  <button type="submit" class="saveItem"><h4>Save Item!</h4></button>
</form>
<div>
  <hr>
  <h3 id ="clear"style="text-align: center;">Clear Recycle Bin</h3>
  <hr>
  <button class="clearItems"><h3>Empty</h3></button>
</div>

</div>

<div id="col-2">
    <h2 id="midCol"style="text-align: center;">Recycle: </h2>
    <hr>
    <br><br>
    <ul style = "list-style: none;">
    {{#each recycle}}
      {{#unless recycled}}
    <li class="recycle">
        <h3 id="itemHolder">
            {{this.item}}
        </h3>
        <button data-itemid="{{this.id}}" data-status="toRecycle"class="reItem" name ="recycled" val = "1"><h4>Recycle</h4></button><button data-itemid="{{this.id}}" class="deItem"><h4>Delete</h4></button>
    </li>
      {{/unless}}
    {{/each}}
    </ul>
    <br><br>
</div>

<div id="col-3">
    <h2 id="lastCol" style="text-align: center;">Recycled Items: </h2>
    <hr>
    <ul style = "list-style: none;">
  {{#each recycle}}
    {{#if recycled}}
      {{> recycle/item-block recycled=false}}
    {{/if}}
  {{/each}}
</ul>
</div>


</div>