* { margin: 0; padding: 0; box-sizing: border-box; }
body{
    background-image: url("");
}
li{
    background: grey;
    width: 200px;
    height: 150px;
}
#grid{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr; 
}

#nestedGrid{
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: auto; 
    grid-gap: 6px;
}
